---
import { data } from "../../website-data/content/teams";
import { t } from "i18next";
import BureauMember from "./Bureau-Member.astro";
---

<div class="bureau-div">
    <h2>{t("bureau.title")}</h2>
    <div class="board-container">
        <div class="cards-grid-container">
            <div class="hexagon center">
                <BureauMember boardMember={data.prez} />
            </div>
            <div class="hexagon top">
                <BureauMember boardMember={data.trez} />
            </div>
            <div class="hexagon left-top">
                <BureauMember boardMember={data.vpi} />
            </div>
            <div class="hexagon right-top">
                <BureauMember boardMember={data.vpe} />
            </div>
            <div class="hexagon left-bottom">
                <BureauMember boardMember={data.dirco} />
            </div>
            <div class="hexagon right-bottom">
                <BureauMember boardMember={data.sec_ge} />
            </div>
            <div class="hexagon bottom">
                <BureauMember boardMember={data.vice_trez} />
            </div>
        </div>
    </div>
</div>

<style>
    .bureau-div {
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hexagon {
        width: 250px;
        height: 500px;
    }

    @media screen and (max-width: 800px) {
        .board-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (min-width: 2000px) {
        .board-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .cards-grid-container {
            display: table;
            clear: both;
            justify-items: space-between;
        }

        .hexagon {
            display: inline-block;
            margin: 0 10px;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 2000px) {
        .board-container {
            margin: auto;
            min-width: 750px;
            width: 100%;
            max-width: 1000px;
        }

        .cards-grid-container {
            position: relative;
            height: 1200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .hexagon {
            position: absolute;
        }

        .top {
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
        }

        .bottom {
            bottom: -100px;
            left: 50%;
            transform: translateX(-50%);
        }

        .left-top {
            left: 0;
            top: 10%;
        }

        .left-bottom {
            left: 0;
            bottom: 10%;
        }

        .right-top {
            right: 0;
            top: 10%;
        }

        .right-bottom {
            right: 0;
            bottom: 10%;
        }

        .center {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
</style>
