---
import { localizePath } from "astro-i18next";
export interface Props {
    color: string;
}
import { offres } from "../../website-data/content/offres";
const { color } = Astro.props;
import { t } from "i18next";
---

<section style={`--color: ${color || "black"}`}>
    <div class="up-text">
        <p>
            {t("list_offres.text1")}<span class="under"
                >{t("list_offres.text2")}</span
            >{t("list_offres.text3")}
        </p>
        <h2>{t("list_offres.text4")}</h2>
    </div>
    <div class="list">
        {
            offres.map(({ title, href, img, text, bgColor, accentColor }) => (
                <a class="ref-offres" href={localizePath(href)}>
                    <figure
                        class="cards"
                        style={`--bg: hsl(${bgColor} calc(60% - (var(--hover) * 10%))); --accent: ${accentColor}`}
                    >
                        <img src={img} alt={text} />

                        <figcaption>{t(title)}</figcaption>
                    </figure>
                </a>
            ))
        }
    </div>
</section>

<style>
    .under {
        text-decoration: underline;
    }
    .ref-offres {
        text-decoration: none;
        display: contents;
    }
    .up-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .up-text p {
        color: var(--color);
        opacity: 0.7;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
    }
    .up-text h2 {
        color: var(--color);
        font-weight: 400;
        width: 80%;
        font-size: 40px;
    }
    figcaption {
        font-weight: bold;
        color: white;
        font-size: inherit;
        line-height: 1.25;
    }

    p {
        margin: 0;
    }

    .list {
        width: 90%;
        margin: auto;
        display: flex;
    }

    .cards {
        border: 1px solid whitesmoke;
        cursor: pointer;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
            0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
            0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
        transition: background 0.2s;
        background: radial-gradient(
                circle at top left,
                var(--accent),
                transparent 100%
            ),
            var(--bg);
        width: 50%;
        aspect-ratio: 6 / 5;
        margin: 5px;
        padding: 10px;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    @media screen and (max-width: 767px) {
        .cards {
            height: 200px;
            width: 100%;
            margin-bottom: 10px;
        }
        .list {
            display: block;
        }
        .up-text {
            padding: 10px;
        }
    }

    img {
        position: absolute;
        text-align: center;
        margin: auto;
        width: 50%;
        max-width: 200px;
        min-width: 100px;
        right: 0;
        bottom: 0;
        transform: translateX(calc(var(--hover) * -15%))
            scale(calc(1 + (var(--hover) * 0.2)));
        transition: transform 0.2s;
    }

    .cards {
        --hover: 0;
    }

    .cards:hover {
        --hover: 1;
    }
</style>
