---
import Cover from "../imgs/cover.png";
export interface Props {
    title: string;
    desc: string;
}
const img = Cover;
const domain = "telecom-etude.fr";
const url = `https://${domain}`;
const key = "";
const { title, desc } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={desc} />
<link rel="icon" href="/favicon.ico" />
<meta name="google-site-verification" content={key} />
<meta name="generator" content={Astro.generator} />

<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={desc} />
<meta property="og:image" content={img} />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={domain} />
<meta property="twitter:url" content={url} />

<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={desc} />
<meta name="twitter:image" content={img} />
